body {
  font-size: 16px;
}

nav {
  align-items: center;
  height: 3.875rem;

}

.navbar {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .container {
  background-color: #000000;
  width: auto;
}

.navbar-brand {
  align-items: center;
  display: inline-flex;

}

nav a img {

  height: 50px;
  padding-left: 3.6875rem;
}

nav ul {
  padding-right: 3.4375rem;
}
nav li a {
  font-family: "Open Sans", sans-serif;;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

#jumbotron-about {
  border-bottom: 10px solid #794ae2;
  margin-bottom: 0;
  top: 3.875rem;
  width: auto;
}

.col-md-6 {
  font-family: Roboto, sans-serif;
  height: 100%;
  margin: 0;
  text-align: center;
  width: auto;
}

.col-md-6 h1 {
  color: #794ae2;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 1;
  margin-bottom: 4rem;
}

.col-md-6 p {
  color: #666666;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 5rem;
}


.about-container .even {
  background-color: #ffffff;
}

.even img {
  margin: 0 auto 0 5rem;
}

.about-container h3 {
  font-size: 2.25rem;
  font-weight: bold;
  padding-top: 4rem;
  text-align: center;
  color: #794ae2;
}

.styles {
  background-color: #f2f2f2;
  width: auto;
  display: flex;
  padding-left: 19%;
  text-align: center;
}

.styles-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 19%;

}

.styles img {
  margin: 0 5rem 0 auto;
  height: 9.375rem;
  justify-content: center;
}

.styles-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: #666666;
}



.rectangle {
align-items: flex-end;
height: 31.25rem;
width: 100%;
display: inline-flex;
justify-content: flex-end;
}

#map-rectangle {
  background-image: url("../../resources/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle-box {
  background-color: rgba(120, 73, 225, 0.9);
  height: 20rem;
  width: 25rem;
}

.box-text {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.rectangle h3 {
  color: #ffffff;
  font-size 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 5rem;
  margin-bottom: 1.25rem;

}

.rectangle ul {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.4rem;
  list-style: none;
  margin-bottom: 1.25rem;
  margin-left: -40px;
}


.bottom-container {
  background-image: url("../../resources/party-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
}
#navbar-bottom {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 3.125rem;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

#font-awesome {
  width: 9.375rem;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
}

footer {
  background-color: rgba(18, 16, 16, 0.8);
  color: #ffffff;
  font-size: .875rem;
  height: 15rem;
  letter-spacing: 0.7px;
  text-align: center;
}

footer ul {
  display: inline-flex;
  justify-content: center;
}

footer li {
  margin-top: 5rem;
}
